/***Variables***/
:root{
    /*Colores*/
    --primario: #490AD0;
    --secundario: #F1F2F1;
    --blanco: #FFF;
    --negro: #1b1b1b;
    
    /*Fuentes*/
    --principal: "Roboto", sans-serif;
    --segundo: "Varela", sans-serif;
    --auxiliar: "Montserrat", sans-serif;
    --fondo: /*background:*/ rgb(84,156,239);
    --gradiente: /*background:*/ linear-gradient(90deg, rgba(84,156,239,1) 0%, rgba(86,80,232,1) 50%, rgba(86,66,231,1) 100%);
}

/***Globales***/
html{
    box-sizing: border-box; /*Ajustando caja*/
    font-size: 62.5%; /*Calibrar rem's, 1rem = 10px*/
}

*, *:before, *:after {
    box-sizing: inherit; /*Ajustando caja*/
}

body{
    font-size: 1.25vw;
    font-family: var(--principal);
    line-height: 1.5;
    background-color: var(--blanco);
}

h1, h2, h3{
    margin: 0;
}

h1{
    font-size: 4vw;
}

h2{
    font-size: 3vw;
}

h3{
    font-size: 2vw;
}

a{
    color: var(--negro);
    text-decoration: none;
}

img{
    max-width: 100%;
    max-height: 100%;
}

/***Utilidades***/
.contenedor{
    width: 90%;
    margin: 0 auto;
}

.boton{
    color: var(--blanco);
    padding: 1.5rem;
    display: inline-block;
}

.boton__secundario{
    background-color: var(--negro);
    font-weight: 500;
    margin: 3rem 0;
    padding: 1vw 5vw;
}

.boton__envio{
    border: none;
    border-radius: 5vw;
    background: var(--fondo);
    background: var(--gradiente);
    font-weight: bold;
}

.animacion{
    transition: all 0.5s, padding 0.1s;
}

.separador{
    margin-top: 5vw;
    margin-bottom: 5vw;
}

.activador{
    display: none;
}

/***Encabezado***/
.encabezado{
    height: 100vh;
}

/**Barra**/
.barra{
    background-color: var(--blanco);
}

.barra__contenido{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barra__logo{
    font-size: 2vw;
    font-weight: bold;
}

.barra__logo--titulo{
    color: var(--primario);
}

.barra__navegacion{
    display: flex;
    gap: 3vw;
}

.barra__enlace{
    flex: 0 0 auto;
    text-align: center;
    padding: 0.5rem 0;
    border: 0.3rem solid transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-weight: bold;
}

.barra__enlace:hover,
.barra__enlace--seleccion{
    border-color: var(--primario);
}

/**Descripcion**/
.descripcion{
    background-image: url(..//img/banner2-100.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.descripcion__contenido{
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.descripcion__info{
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--blanco);
}

.descripcion__parrafo{
    margin-bottom: 2vw;
}

.descripcion__boton{
    border: 0.25rem solid var(--blanco);
    border-radius: 2rem;
}

.descripcion__navegacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 3vw;
}

.descripcion__icono{
    background-color: var(--blanco);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    opacity: 0.5;
}

.descripcion__icono--seleccion{
    opacity: 1;
}

/***Principal***/

/*Parrafo*/
.principal__figura{
    display: block;
    height: 2vw;
    margin: 0 auto;
    margin-top: 2vw;
}

.principal__parrafo{
    text-align: center;
    width: 65%;
    margin-top: 4vw;
}

/*Carrusel*/
.principal__carrusel{
    display: flex;
    justify-content: center;
    gap: 5rem;
    overflow-x: hidden;
    position: relative;
}


.principal__imagen{
    height: 40vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 0 0 40vw;
}

.principal__imagen--uno{
    background-image: url(..//img/Asset\ 13-8.png);
}

.principal__imagen--dos{
    background-image: url(..//img/Asset\ 15.png);
}

.principal__imagen--tres{
    background-image: url(..//img/Asset\ 16.png);
}

.principal__flecha{
    position: absolute;
    top: 45%;
    left: 10%;
    right: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.principal__flecha--derecha,
.principal__flecha--izquierda{
    fill: var(--blanco);
} 

/*Principal Nosotros*/
.principal__nosotros{
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    margin-top: 10vw;
}

.principal__tarjeta{
    flex: 1;
    background-color: var(--secundario);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
}

.principal__tarjeta--icono{
    margin-top: -3.5vw;
}

.principal__tarjeta--icono img{
    width: 7vw;
    height: 7vw;
}

.principal__tarjeta--parrafo{
    line-height: 1.6;
    text-align: justify;
    margin: auto 0;
    padding: 3vw 1vw;
}

.principal__contacto{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 4vw;
    height: 4vw;
    margin-right: 2vw;
    margin-bottom: 2vw;
}

/***Cotizar***/
.cotizar{
    display: flex;
    align-items: center;
}

.cotizar__imagen{
    flex: 1;
}

.cotizar__imagen--fondo{
    width: 100%;
    height: 100%;
}

.cotizar__parrafo{
    flex: 0.7;
    text-align: center;
    padding: 3vw;
    font-family: var(--auxiliar);
}

.cotizar__titulo{
    font-size: 3vw;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    margin: 4rem 0;
}

.cotizar__texto{
    margin: 0 5vw;
    line-height: 2;
}

/***Preguntas***/
.preguntas{
    width: 75vw;
}

.preguntas__titulo{
    text-align: center;
    color: var(--primario);
}

.preguntas__card{
    border: 0.25rem solid var(--primario);
    border-radius: 3rem;
    margin: 2vw 0;
    padding: 0 2vw;
}

.preguntas__duda{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2vw;
    height: 0;
    text-align: center;
}

.preguntas__simbolo{
    flex: 0 0 5%;
    color: var(--primario);
    font-weight: bold;
    font-size: 3vw;
}

.preguntas__simbolo--resta{
    display: none;
}

.preguntas__duda--titulo{
    flex: 0 0 95%;
}

.preguntas__duda--titulo p{
    margin: 0.5vw 0;
}

.preguntas__respuesta{
    display: none;
    overflow: hidden;
    text-align: justify;
}

.preguntas__respuesta p{
    margin: 0.5vw 0;
}

.card__activador:checked + .preguntas__duda .preguntas__simbolo--resta{
    display: unset;
}

.card__activador:checked + .preguntas__duda .preguntas__simbolo--suma{
    display: none;
}

.card__activador:checked + .preguntas__duda .preguntas__duda--titulo{
    font-weight: bold;
    border: 0.25vw solid var(--primario);
    border-top: 0;
    border-left: 0;
    border-right: 0;
} 

.card__activador:checked ~ .preguntas__respuesta{
    display: unset;
}

/***Footer***/
.footer{
    font-family: var(--segundo);
}

.footer__info{
    background-color: var(--primario);
    padding: 4vw 0;
}

.footer__barra{
    display: flex;
    width: 75%;
}

.footer__navegacion{
    flex: 0.5;
    display: flex;
    flex-direction: column;
}

.footer__texto{
    margin-bottom: 1.5vh;
}

.footer__navegacion--titulo{
    font-size: 2.5vh;
    color: var(--blanco);
    padding-bottom: 1vh;
}

.footer__navegacion--borde{
    border: 0.1rem solid var(--blanco);
    width: 15%;
}

.footer__enlace{
    /* fill: var(--blanco); */
    color: var(--blanco);
}

.footer__enlace img{
    width: 2.5vw;
    height: 2.5vw;
}

.footer__social{
    display: flex;
    gap: 1.5vw;
}

/*Contacto*/
.footer__contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    padding: 3vw 0;
}

.footer__contacto--titulo{
    letter-spacing: 0.25rem;
    font-size: 2vw;
}

.footer__campo{
    background-color: var(--secundario);
    width: 50rem;
    padding: 1.25vw;
    border: none;
    margin-right: 2.5vw;
}

/***PÁGINA SERVICIOS***/

/*Encabezado*/
.descripcion__contenedor{
    background-image: url(../img/banner-100.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.descripcion__contenido--secundario{
    height: 50vh;
    color: var(--blanco);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Sección equipo*/
.nosotros{
    text-align: end;
    width: 80%;
    color: var(--negro);
}

.nosotros__titulo{
    text-transform: uppercase;
    margin: 1vw 0;
}

.nosotros__presentacion{
    display: flex;
}

.nosotros__bloque{
    flex: 0 0 50%;
    background-color: var(--negro);
}

.nosotros__marco{
    position: relative;
    margin-top: -2.055vw;
    max-width: 117.5%;
}

.nosotros__bloque--descripcion{
    padding: 3vw;
    text-align: center;
    background-color: var(--secundario);
    font-family: var(--auxiliar);
}

.nosotros__texto{
    margin: 3.25vw 0px;
    font-weight: 500;
    font-size: 1.3vw;
    line-height: 1.6;
}

.nosotros .boton__secundario{
    margin: 0;
}

/*Servicios*/
.servicio{
    background-color: var(--secundario);
}

.servicio__contenido{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vw 0 0 0;
    position: relative !important;
}

.servicio__card{
    flex: 0 0 33%;
    text-align: center;
    color: var(--negro);
}

.servicio__imagen{
    max-width: 40%;
    max-height: 40%;
}

.servicio__titulo{
    font-size: 2vw;
    margin-top: 5vw;
    margin-bottom: 0;
}

.servicio__texto{
    font-family: var(--auxiliar);
    font-weight: 500;
}

.servicio .boton__secundario{
    background: var(--fondo);
    background: var(--gradiente);
    font-size: 1.5vw;
    font-weight: bold;
    text-transform: uppercase;
}

.servicio .principal__flecha{
    position: relative;
    bottom: 25vw;
    right: 0;
    left: 0;
}

.servicio .principal__flecha--derecha{
    margin-left: 2vw;
    fill: var(--negro);
} 

.servicio .principal__flecha--izquierda{
    margin-right: 2vw;
    fill: var(--negro);
} 

/*Equipo*/
.equipo{
    text-align: center;
}

.equipo__parrafo{
    color: var(--negro);
    font-family: var(--auxiliar);
}

.equipo__texto{
    font-size: 1.5vw;
    padding: 0 15%;
}

.equipo__imagen{
    max-width: 80%;
}

/***PÁGINA SERVICIOS***/

/*Contenido principal*/
.contacto{
    display: flex;
    justify-content: space-between;
    font-family: var(--segundo);
    margin-bottom: 12vw;
}

.contacto__informacion{
    order: 2;
    flex: 0 0 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5vw;
}

.contacto__titulo{
    color: var(--primario);
    text-align: center;
    font-size: 3.7vw;
    line-height: 1;
}

.contacto__descripcion{
    background-color: var(--secundario);
    flex: 0 0 40%;
    padding: 0 /*1vw 0*/ 4vw;
    line-height: 1.1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contacto__subtitulo{
    font-size: 3vw;
    font-family: var(--auxiliar);
    color: var(--negro);
}

.contacto__subtitulo--seleccion{
    color: blue;
}

.contacto__texto{
    line-height: 1.5;
}

/*Formulario*/
.contacto__formulario{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    margin-top: 2vw;
}

.contacto__elemento{
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1vw;
}

.contacto__elemento--100{
    flex: 0 0 100%;
}

.contacto__etiqueta,
.contacto__campo{
    width: 80%;
    margin: 1vw auto 0 auto;
    font-size: 1.2vw;
}

.contacto__campo{
    padding: 1.5vw;
    background-color: var(--secundario);
    border: 0;
    border-radius: 1.5vw;
    outline: 0;
}

.contacto__elemento--100 .contacto__etiqueta,
.contacto__elemento--100 .contacto__campo{
    width: 90%;
    margin: 1vw auto 0 auto;
}

.contacto__elemento--empresa{
    padding: 0;
    background-color: unset;
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin:  auto;
}

.contacto__elemento--empresa .contacto__etiqueta{
    margin: 0;
    order: 2;
}

.contacto__elemento--fecha{
    margin-bottom: 0;
}

.contacto__elemento--envio{
    position: absolute;
    bottom: -7.5vw;
}

.contacto__elemento--envio .boton__envio{
    padding-right: 5vw;
    padding-left: 5vw;
}

