/***Variables***/
:root{
    /*Colores*/
    --primario: #490AD0;
    --secundario: #F1F2F1;
    --blanco: #FFF;
    --negro: #1b1b1b;
    
    /*Fuentes*/
    --principal: "Roboto", sans-serif;
    --segundo: "Varela", sans-serif;
    --auxiliar: "Montserrat", sans-serif;
    --fondo: /*background:*/ rgb(84,156,239);
    --gradiente: /*background:*/ linear-gradient(90deg, rgba(84,156,239,1) 0%, rgba(86,80,232,1) 50%, rgba(86,66,231,1) 100%);
}

/***Globales***/
html{
    box-sizing: border-box; /*Ajustando caja*/
    font-size: 62.5%; /*Calibrar rem's, 1rem = 10px*/
}

*, *:before, *:after {
    box-sizing: inherit; /*Ajustando caja*/
}

body{
    font-size: 2.2vh;
    font-family: var(--principal);
    line-height: 1.5;
    background-color: var(--blanco);
}

h1, h2, h3{
    margin: 0;
}

h1{
    font-size: 5vh;
    text-align: center;
}

h2{
    font-size: 4vh;
}

h3{
    font-size: 3vh;
}

a{
    color: var(--negro);
    text-decoration: none;
}

img{
    max-width: 100%;
    max-height: 100%;
}

/***Utilidades***/
.contenedor{
    width: 90%;
    margin: 0 auto;
}

.boton{
    color: var(--blanco);
    padding: 2vh;
    display: inline-block;
}

.boton__secundario{
    background-color: var(--negro);
    font-weight: 500;
    margin: 4vh 0;
    padding: 1vh 4vh;
    text-transform: uppercase;
}

.boton__envio{
    border: none;
    border-radius: 5vw;
    background: var(--fondo);
    background: var(--gradiente);
    font-weight: bold;
}

.animacion{
    transition: all 0.5s, padding 0.1s;
}

.separador{
    margin-top: 7vh;
    margin-bottom: 7vh;
}

.activador{
    display: none;
}

/***Encabezado***/
.encabezado{
    height: 100vh;
}

/**Barra**/
.barra{
    background-color: var(--blanco);
    position: fixed;
    right: 0;
    left: 0;
    z-index: 3;
    border: 0.5vh solid var(--primario);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.15);
    padding: 2vh 0;
}

.barra__contenido{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.barra__logo{
    font-size: 4vh;
    font-weight: bold;
    margin: 0;
}

.barra__logo--titulo{
    color: var(--primario);
}

.barra__icono{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.barra__icono--linea{
    width: 5vh;
    height: 0.6vh;
    background-color: var(--primario);
}

.barra__activador:checked + .barra__navegacion{
    height: auto;
    background-color: var(--blanco);
    margin-top: 3vh;
}

.barra__navegacion{
    height: 0;
    flex: 0 0 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3vw;
    overflow: hidden;
}

.barra__enlace{
    font-size: 2.6vh;
    font-weight: 500;
}

.barra__enlace--seleccion{
    background-color: var(--primario);
    padding: 0 5vw;
    border-radius: 2vw;
    color: var(--blanco);
}

/**Descripcion**/
.descripcion{
    background-image: url(..//img/fondoprimero0.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: 10vh;
}

.descripcion__contenido{
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.descripcion__info{
    flex: 0 0 90%;
    display: none;
    flex-direction: column;
    justify-content: center;
    color: var(--blanco);
}

.descripcion__info--activo{
    display: flex;
}

/* @keyframes{
    fadeUp{
        0
    }
} */

.descripcion__elemento{
    margin-bottom: 2vw;
}

.descripcion__elemento--titulo{
    text-align: start;
    font-size: 4vh;
}

.descripcion__boton{
    border: 0.25rem solid var(--blanco);
    border-radius: 2rem;
    font-size: 2vh;
}

.descripcion__navegacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 4vh;
}

.descripcion__icono{
    background-color: var(--blanco);
    width: 2.2vh;
    height: 2.2vh;
    border-radius: 50%;
    opacity: 0.5;
}

.descripcion__icono--seleccion{
    opacity: 1;
}

/***Principal***/

/**Parrafo**/
.principal__figura{
    display: none;
}

.principal__parrafo{
    text-align: justify;
    width: 70%;
}

.principal__parrafo--titulo{
    text-align: center;
}

/**Carrusel**/
.principal__carrusel{
    position: relative;
    width: 80%;
    overflow-x: hidden;
}

.principal__galeria{
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.principal__imagen{
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3vw;
    flex: 0 0 100%;
}

.principal__imagen--uno{
    background-image: url(..//img/Asset\ 13-8.png);
}

.principal__imagen--dos{
    background-image: url(..//img/Asset\ 15.png);
}

.principal__imagen--tres{
    background-image: url(..//img/Asset\ 16.png);
}

.principal__flecha--derecha,
.principal__flecha--izquierda{
    fill: var(--blanco);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
} 

.principal__flecha--derecha{
    right: 3.5vw;
}

.principal__flecha--izquierda{
    left: 3.5vw;
}

/**Principal Nosotros**/
.principal__nosotros{
    display: flex;
    justify-content: space-between;
    margin-top: 10vh;
    overflow-x: clip;
    max-width: 50rem;
}

.principal__tarjeta{
    flex: 0 0 100%;
    background-color: var(--secundario);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
}

.principal__tarjeta--icono{
    margin-top: -3.5vh;
}

.principal__tarjeta--icono img{
    width: 7vh;
    height: 7vh;
}

.principal__tarjeta--parrafo{
    line-height: 1.6;
    text-align: justify;
    margin: auto 0;
    padding: 3vw;
}

.principal__contacto{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 7vh;
    height: 7vh;
    margin-right: 2vh;
    margin-bottom: 2vh;
}

/**Cotizar**/
.cotizar{
    display: flex;
    flex-direction: column-reverse;
}

.cotizar__parrafo{
    text-align: center;
    padding: 2vw;
    font-family: var(--auxiliar);
}

.cotizar__titulo{
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    margin: 2vh 0;
}

.cotizar__texto{
    margin: 0 5vw;
    line-height: 2;
    text-align: justify;
}

/*/Preguntas**/
.preguntas__titulo{
    text-align: center;
    color: var(--primario);
}

.preguntas__card{
    border: 0.5vh solid var(--primario);
    border-radius: 3rem;
    margin: 2.5vh 0;
    padding: 2vh;
}

.preguntas__duda{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2vw;
    text-align: justify;
    gap: 5%;
}

.preguntas__simbolo{
    flex: 0 0 5%;
    color: var(--primario);
    font-weight: bold;
    font-size: 5vh;
    margin: 0;
}

.preguntas__simbolo--resta{
    display: none;
}

.preguntas__duda--titulo{
    flex: 0 0 90%;
}

.preguntas__duda--titulo p{
    margin: 0;
}

.preguntas__respuesta{
    display: none;
    overflow: hidden;
    text-align: justify;
}

.preguntas__respuesta p{
    margin: 0;
    margin-top: 1vh;
}

.card__activador:checked + .preguntas__duda .preguntas__simbolo--resta{
    display: unset;
}

.card__activador:checked + .preguntas__duda .preguntas__simbolo--suma{
    display: none;
}

.card__activador:checked + .preguntas__duda .preguntas__duda--titulo{
    color: var(--primario);
} 

.card__activador:checked ~ .preguntas__respuesta{
    display: unset;
}

/***Footer***/

/**Barra**/
.footer{
    font-family: var(--segundo);
}

.footer__info{
    background-color: var(--primario);
    padding: 4vw 0;
}

.footer__barra{
    display: flex;
    width: 75%;
    flex-direction: column;
}

.footer__navegacion{
    display: flex;
    flex-direction: column;
    margin: 2vh 0;
}

.footer__texto{
    margin-bottom: 1.5vh;
}

.footer__navegacion--titulo{
    font-size: 2.5vh;
    color: var(--blanco);
    padding-bottom: 0.5vh;
}

.footer__navegacion--borde{
    border: 0.1rem solid var(--blanco);
    width: 15%;
}

.footer__enlace{
    color: var(--blanco);
}

.footer__enlace img{
    width: 5vh;
    height: 5vh;
}

.footer__social{
    display: flex;
    gap: 5vw;
}

/**Contacto**/
.footer__contacto{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 3vh;
    padding: 3vh 0;
}

.footer__contacto--titulo{
    letter-spacing: 0.25rem;
    font-size: 3vh;
}

.footer__campo{
    background-color: var(--secundario);
    width: 80%;
    padding: 2vh;
    border: none;
    margin-bottom: 3vh;
}

/***PÁGINA SERVICIOS***/

/**Encabezado**/
.encabezado__secundario{
    height: 40vh;
}

.descripcion__contenedor{
    background-image: url(../img/banner-100.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: 10vh;
}

.descripcion__contenido--secundario{
    height: 30vh;
    color: var(--blanco);
    display: flex;
    justify-content: center;
    align-items: center;
}

/**Sección equipo**/
.nosotros{
    text-align: center;
    width: 80%;
    color: var(--negro);
}

.nosotros__titulo{
    text-transform: uppercase;
    margin: 2vh 0;
    font-size: 3vh;
}

.nosotros__presentacion{
    display: flex;
    flex-direction: column;
}

.nosotros__bloque{
    background-color: var(--negro);
    padding: 4.5%;
}

.nosotros__marco{
    position: relative;
    transform: rotateY(180deg) rotate(90deg);
    margin-top: 6vh;
    right: 20.9vw;
    top: -0.05vh;
    max-width: 106%;
}

@media (min-width: 768px) {
    .nosotros__marco{
        right: 20.8vw;
        top: -0.55vh;
    }
}

.nosotros__bloque--descripcion{
    height: 100%;
    padding: 4vh;
    text-align: center;
    background-color: var(--secundario);
    font-family: var(--auxiliar);
}

.nosotros__bloque--titulo{
    margin-top: 2.5vw;
}

.nosotros__texto{
    margin: 3vh 0px;
    font-weight: 500;
    line-height: 1.7;
    text-align: justify;
}

.nosotros .boton__secundario{
    margin: 0;
}

 /**Servicios**/
.servicio{
    padding: 2vh 0;
    background-color: var(--secundario);
}

.servicio__carrusel{
    position: relative;
    width: 100%;
    overflow-x: hidden;
}

.servicio__contenido{
    display: flex;
    justify-content: space-between;
    padding: 5vw 0 0 0;
    transition: all 0.5s;
}

.servicio__card{
    flex: 0 0 calc(50vw - 2.5vw);
    text-align: center;
    color: var(--negro);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3vw;
}

.servicio__imagen{
    max-width: 40%;
    max-height: 40%;
}

.servicio__titulo{
    font-size: 2.5vh;
    margin-top: 5vw;
    margin-bottom: 0;
}

.servicio__texto{
    font-family: var(--auxiliar);
    font-weight: 500;
    text-align: justify;
}

.servicio .boton__secundario{
    background: var(--fondo);
    background: var(--gradiente);
    font-weight: bold;
    text-transform: uppercase;
}

.servicio .principal__flecha{
    position: relative;
    bottom: 100%;
    right: 0;
    left: 0;
    justify-content: center;
    gap: 2vh;
}

.servicio .principal__flecha--derecha,
.servicio .principal__flecha--izquierda{
    margin-left: 1.5vw;
    fill: var(--negro);
    top: 16%;
} 

/**Equipo**/
.equipo{
    text-align: center;
}

.equipo__parrafo{
    color: var(--negro);
    font-family: var(--auxiliar);
}

.equipo__texto{
    padding: 0 15%;
    text-align: justify;
}

/***PÁGINA CONTACTO***/

/**Contenido principal**/
.contacto{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-family: var(--segundo);
}

.contacto__informacion{
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 7vh;
    text-align: center;
    gap: 2vh;
}

.contacto__titulo{
    color: var(--primario);
    font-size: 3.7vh;
    line-height: 1;
}

.contacto__descripcion{
    background-color: var(--secundario);
    padding: 5vh 2.5vh;
    line-height: 1.1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    gap: 4vh;
}

.contacto__subtitulo{
    font-size: 4vh;
    font-family: var(--auxiliar);
    color: var(--negro);
    text-align: center;
}

.contacto__subtitulo--seleccion{
    color: blue;
}

.contacto__texto{
    font-size: 2.5vh;
    line-height: 1.5;
    margin: 0;
}

/**Formulario**/
.contacto__formulario{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: relative;
    margin-top: 2vw;
    width: unset;
    margin: unset;
}

.contacto__elemento{
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2vh;
    text-align: start;
}

.contacto__elemento--100{
    flex: 0 0 100%;
}

.contacto__etiqueta,
.contacto__campo{
    width: 90%;
    margin: 1.5vh auto 0 auto;
}

.contacto__campo{
    padding: 2vh;
    background-color: var(--secundario);
    border: 0;
    border-radius: 1.5vw;
    outline: 0;
}

.contacto__elemento--100 .contacto__etiqueta,
.contacto__elemento--100 .contacto__campo{
    width: 95%;
    margin: 1vw auto 0 auto;
}

.contacto__elemento--empresa{
    padding: 0;
    background-color: unset;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    gap: 3vw;
}

.contacto__elemento--empresa .contacto__etiqueta{
    margin: 0;
    order: 2;
}

.contacto__elemento--fecha{
    margin-bottom: 0;
}

.contacto__elemento--tc{
    flex: 0 0 90%;
    flex-direction: row;
    align-items: center;
    gap: 3vw ;
    margin-top: 6vh;
    margin-bottom: 0;
}

.contacto__elemento--tc :nth-child(1){
    order: 2;
    text-align: start;
}

.contacto__elemento--envio{
    bottom: -8.5vw;
}


.contacto__elemento--envio{
    position: absolute;
    bottom: -13.5vh;
}

.contacto__elemento--envio .boton__envio{
    padding-right: 5vw;
    padding-left: 5vw;
}


/***Politicas de datos***/
.informacion{
    background-color: var(--secundario);
    padding: 3vw;
}

.informacion__texto{
    width: 80%;
    text-align: justify;
    font-size: 2.5vh;
}

/***Contenido politicas***/
.politica__contenido{
    text-align: justify;
}
.politica__titulo{
    color: var(--primario);
    text-transform: uppercase;
    margin: 2vh 0;
}

.politica__subtitulo{
    font-weight: normal;
    display: inline;
}

.politica__texto{
    font-size: 2.8vh;
}

/***Terminos y condiciones***/

.termcond__titulo{
    text-align: center;
    text-transform: uppercase;
}

.termcond__texto{
    display: inline-block;
    border: 0.3vh solid var(--negro);
    border-top: 0;
    border-right: 0;
    border-left: 0;
    width: 30%;
    padding-bottom: 0.5vh;
    
    margin-bottom: 2vh;
}

.termcond__navegacion{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1%;
}

.termcond__boton{
    color: var(--blanco);
    background-color: var(--primario);
    border: 1vw solid var(--primario);
    border-radius: 2vh;
    padding: 0;
}

.termcond__boton--activo{
    color: var(--primario);
    background-color: var(--blanco);
}

.termcond__seccion{
    display: none;
}

.termcond__seccion--activo{
    display: unset;
}

/***PAGINA NOSOTROS***/
.somos{
    text-align: center;
}

.somos__parrafo{
    background-color: var(--secundario);
    padding: 3vw;
}

.somos__colaborador{
    padding: 3vw;
    border: 1vw solid var(--primario);
    margin: 4vh 0;
}

.somos__colaborador p{
    text-align: justify;
}

@media (min-width: 992px) {
    /***Globales***/
    body{
        font-size: 1.25vw;
    }

    h1{
        font-size: 4vw;
    }

    /***Utilidades***/
    .boton{
        padding: 1.5rem;
    }
    
    .boton__secundario{
        margin: 3rem 0;
        padding: 1vw 5vw;
    }

    .separador{
        margin-top: 5vw;
        margin-bottom: 5vw;
    }

    .barra{
        padding: unset;
    }

    .barra__contenido{
        height: 10vh;
        flex-wrap: nowrap;
    }

    .barra__logo{
        font-size: 2vw;
    }

    .barra__icono{
        display: none;
    }
    
    .barra__navegacion{
        flex: unset;
        height: unset;
        flex-direction: row;
        align-items: unset;
    }
    

    .barra__enlace{
        flex: 0 0 auto;
        text-align: center;
        padding: 0.5rem 0;
        border: 0.3rem solid transparent;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        font-weight: bold;
        font-size: 2.5vh;
    }

    .barra__enlace:hover,
    .barra__enlace--seleccion{
        border-color: var(--primario);
        background-color: unset;
        border-radius: unset;
        color: unset;
    }

    .descripcion__info{
        flex: 0 0 50%;
    }

    .descripcion__elemento{
        font-size: unset;
    }

    .descripcion__elemento--titulo{
        font-size: 4vw;
    }

    .descripcion__boton{
        font-size: unset;
    }
    
    .descripcion__navegacion{
        gap: 3vw;
    }

    .descripcion__icono{
        width: 2rem;
        height: 2rem;
    }

    /***Principal***/

    /**Parrafo**/
    .principal__figura{
        display: block;
        height: 2vw;
        margin: 0 auto;
        margin-top: 2vw;
    }

    .principal__parrafo{
        text-align: center;
        margin-top: 4vw;
        width: 65%;
    }

    .principal__parrafo--titulo{
        font-size: 3.5vw;
    }

    /**Carrusel**/
    .principal__carrusel{
        gap: 5rem;
        width: 60%;
    }

    .principal__galeria{
        overflow: unset;
        transform: unset;
    }

    .principal__imagen{
        height: 80vh;
    }

    .principal__flecha--derecha{
        right: 4vw;
    }

    .principal__flecha--izquierda{
        left: 4vw;
    }

    .principal__flecha--derecha svg,
    .principal__flecha--izquierda svg{
        width: 3vw;
        height: 3vw;
    }

    /**Principal Nosotros**/
    .principal__nosotros{
        gap: 5rem;
        margin-top: 10vw;
        max-width: unset;
    }

    .principal__tarjeta{
        flex: 1;
    }

    .principal__tarjeta--icono{
        margin-top: -3.5vw;
    }

    .principal__tarjeta--icono img{
        width: 7vw;
        height: 7vw;
    }

    .principal__tarjeta--parrafo{
        padding: 3vw 1vw;
    }

    .principal__contacto{
        width: 4vw;
        height: 4vw;
        margin-right: 2vw;
        margin-bottom: 2vw;
    }

    /**Cotizar**/
    .cotizar{
        flex-direction: unset;
        align-items: center;
        text-align: center;
    }

    .cotizar__imagen{
        flex: 1;
    }

    .cotizar__imagen--fondo{
        width: 100%;
        height: 100%;
    }

    .cotizar__parrafo{
        flex: 0.7;
        padding: 3vw;
    }

    .cotizar__titulo{
        font-size: 3vw;
        margin: 4rem 0;
    }

    /**Preguntas**/
    .preguntas__contenedor{
        width: 85%;
    }

    .preguntas__card{
        border: 0.25rem solid var(--primario);
        margin: 2vw 0;
        padding: 0 2vw;
    }

    .preguntas__duda{
        height: 0;
        text-align: center;
        gap: unset;
    }

    .preguntas__simbolo{
        font-size: 3vw;
    }

    .preguntas__duda--titulo{
        flex: 0 0 95%;
    }

    .preguntas__duda--titulo p{
        margin: 0.5vw 0;
    }

    .preguntas__respuesta p{
        margin: 1vw 0;
    }

    .card__activador:checked + .preguntas__duda .preguntas__duda--titulo{
        text-align: center;
        font-weight: bold;
        border: 0.25vw solid var(--primario);
        border-top: 0;
        border-left: 0;
        border-right: 0;
    } 

    /***Footer***/

    /**Barra**/
    .footer__barra{
        flex-direction: row;
    }

    .footer__navegacion{
        flex: 0.5;
        margin: 0;
    }

    .footer__navegacion--titulo{
        padding-bottom: 1vh;
    }

    .footer__enlace img{
        width: 2.5vw;
        height: 2.5vw;
    }

    .footer__social{
        gap: 1.5vw;
    }

    /**Contacto**/
    .footer__contacto{
        gap: 2vw;
        padding: 3vw 0;
    }

    .footer__contacto--titulo{
        font-size: 2vw;
    }

    .footer__campo{
        width: 50rem;
        padding: 1.25vw;
        margin-right: 2.5vw;
        margin-bottom: 0;
    }

    /***PÁGINA SERVICIOS***/

    /**Encabezado**/
    .encabezado__secundario{
        height: 60vh;
    }

    .descripcion__contenido--secundario{
        height: 50vh;
    }

    /**Sección equipo**/
    .nosotros{
        text-align: end;
    }

    .nosotros__titulo{
        margin: 1vw 0;
        font-size: 2vw;
    }

    .nosotros__presentacion{
        flex-direction: unset;
    }

    .nosotros__bloque{
        flex: 0 0 50%;
        height: unset;
        padding: 0;
    }

    .nosotros__marco{
        position: relative;
        margin-top: -2.055vw;
        max-width: 117.8%;
        transform: unset;
        top: unset;
        right: unset;
    }

    .nosotros__bloque--descripcion{
        padding: 3vw;
    }

    .nosotros__bloque--descripcion h3{
        font-size: 2vw;
    }

    .nosotros__texto{
        font-size: 1.3vw;
    }

    /**Servicios**/
    .servicio{
        padding: 0;
        background-color: var(--secundario);
    }

    .servicio__contenido{
        gap: 0;
    }

    .servicio__card{
        flex: 0 0 33%;
    }

    .servicio__titulo{
        font-size: 2vw;
    }

    .servicio .boton__secundario{
        font-size: 1.5vw;
    }

    .servicio .principal__flecha--derecha,
    .servicio .principal__flecha--izquierda{
        top: 31%;
    }

    /**Equipo**/
    .equipo{
        text-align: center;
    }

    .equipo__parrafo{
        color: var(--negro);
        font-family: var(--auxiliar);
    }

    .equipo__texto{
        font-size: 1.5vw;
        padding: 0 15%;
        text-align: unset;
    }

    .equipo__imagen{
        max-width: 80%;
    }

    /***PÁGINA CONTACTO***/

    /**Contenido principal**/
    .contacto{
        margin-bottom: 13vw;
        flex-direction: row;
    }

    .contacto__informacion{
        flex: 0 0 60%;
        margin-top: 5vw;
        margin-bottom: 0;
    }

    .contacto__titulo{
        text-align: center;
        font-size: 3.7vw;
    }

    .contacto__descripcion{
        background-color: var(--secundario);
        flex: 0 0 40%;
        padding: 0 /*1vw 0*/ 4vw;
        line-height: 1.1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .contacto__subtitulo{
        font-size: 3vw;
        text-align: start;
    }

    /**Formulario**/
    .contacto__formulario{
        width: 90%;
        margin: 0 auto;
        margin-top: 2vw;
        justify-content: center;
    }

    .contacto__etiqueta,
    .contacto__campo{
        width: 80%;
        margin: 1vw auto 0 auto;
        font-size: 1.2vw;
    }

    .contacto__campo{
        padding: 1.5vw;
    }

    .contacto__elemento--100 .contacto__etiqueta,
    .contacto__elemento--100 .contacto__campo{
        width: 90%;
    }

    .contacto__elemento--empresa{
        width: 65%;
        margin: auto;
        gap: 0;
    }

    .contacto__elemento--fecha{
        margin-bottom: 0;
    }

    /****Terminos y condiciones****/
    .termcond > .separador{
        margin-top: 2vw;
        margin-bottom: 4vw;
    }

    .termcond__texto{
        width: 10%;
        border-width: 0.2vw;
    }

    .termcond__navegacion{
        grid-template-columns: repeat(4, 10vw);
        justify-content: center;
    }
    
    .termcond__boton{
        border: 0.25vw solid;
        padding: 1vw;
    }

    .somos__contenido{
        display: flex;
        justify-content: space-between;
        gap: 2vw;
    }
    
    .somos__colaborador{
        flex: 0 0 30%;
        border-width: 0.35vw;
        padding: 1vw;
    }
}